{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div>
        <p></strong>.</p>
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
    </div>
{% endblock %}
