{% extends 'base.html' %}

{% block title %}Add Page{% endblock %}

{% block body_block %}
{% if category %}
    <form role="form" id="page_form" method="post" action=".">
        <h2 class="form-heading">Add a Page to {{ category.name }}</h2>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="form-group">
            <label for="id_title">Title</label>
            <input type="text" class="form-control" id="id_title" maxlength="128" placeholder="Title" name="title">
        </div>
        <div class="form-group">
            <label for="id_url">URL</label>
            <input type="url" class="form-control" id="id_url" maxlength=200" placeholder="Including http://" name="url">
        </div>

        <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
    </form>
{% else %}
    <p>This category does not exist.</p>
{% endif %}

{% endblock %}
