{% extends 'base.html' %}

{% block title %}Add a Category{% endblock %}

{% block body_block %}
    <form role="form" id="category_form" method="post" action="/rango/add_category/">
        <h2 class="form-signin-heading">Add a Category</h2>

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}

        <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
    </form>
{% endblock %}
