{% extends 'base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>{{ category_name }}</h1>
    </div>
    {% if category %}
        {% if pages %}
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'add_page' category_name_slug %}">Add a New Page</a></br>
        {% endif %}
    {% else %}
        The specified category {{ category_name }} does not exist!
    {% endif %}

{% endblock %}
