{% extends 'base.html' %}


    {% block title %}Restricted Page{% endblock %}


{% block body_block %}
    <div class="page-header">
        <h1>Restricted page</h1>
    </div>

    Since you're logged in, you can see this text!
{% endblock %}
